data/
Tryouts.ipynb
Tryouts_2.ipynb
Plots/
report/report.aux
report/report.log
report/report.out
report/report.synctex.gz
report/report.fls
report/report.fdb_latexmk 
report/report.blg
report/report.bbl